{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>{{ journal.title }}</h1>
        <p>{{ journal.description }}</p>
        <!-- Add more details about the current issue here -->
    </div>


<!-- Page Title Start -->
<section class="page-title title-bg4">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>Current Issues - Karpagam {{journal.title}}</h2>
          
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Author Section End -->   
<section class="job-style-two job-list-section pt-100 pb-70">
<div class="container">
<div class="row">
    <div class="col-md-4">
   
                <div class="about-information accordions">
                    <ul>
                        <li>
                            <a href="about.php">
                                About Karpagam Publications
                            </a>
                        </li>
                       
                        <li>
                        <div class="accordion-item active" >
                        <div class="accordion-title" data-tab="iteml1"  class="active">
                        <h2> Current Issues <i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="iteml1">
                            <ul >
                                <li><a href="current-issues-jcs.php">Karpagam JCS</a></li>
                                <li><a href="current-issues-ijam.php">Karpagam IJAM</a></li>
                                <li><a href="current-issues-jcm.php">Karpagam JCM</a></li>
                            </ul>
                        </div>
                    </div>
                        </li>
                        <li>
                        <div class="accordion-item" >
                        <div class="accordion-title" data-tab="iteml2">
                       <h2> Archives <i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="iteml2">
                            <ul>
                                <li><a href="archives-jcs.php">Karpagam JCS</a></li>
                                <li><a href="archives-ijam.php">Karpagam IJAM</a></li>
                                <li><a href="archives-jcm.php">Karpagam JCM</a></li>
                            </ul>
                        </div>
                        </li>
                        <li>
                        <div class="accordion-item">
                        <div class="accordion-title" data-tab="iteml3">
                       <h2> Reviewer Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="iteml3">
                            <ul>
                                <li><a href="reviewer-policy-jcs.php">Karpagam JCS</a></li>
                                <li><a href="reviewer-policy-ijam.php">Karpagam IJAM</a></li>
                                <li><a href="reviewer-policy-jcm.php">Karpagam JCM</a></li>
                            </ul>
                        </div>
                        </li>
                        <li>
                        <div class="accordion-item">
                        <div class="accordion-title" data-tab="iteml4">
                        <h2>Plagiarism Policy <i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="iteml4">
                            <ul>
                                <li><a href="plagiarism-policy-jcs.php">Karpagam JCS</a></li>
                                <li><a href="plagiarism-policy-ijam.php">Karpagam IJAM</a></li>
                                <li><a href="plagiarism-policy-jcm.php">Karpagam JCM</a></li>
                            </ul>
                        </div>
                        </li>
                        <li>
                            <a href="#">
                                Abstracting and indexing
                            </a>
                        </li>
                        <li>
                        <div class="accordion-item">
                        <div class="accordion-title" data-tab="iteml5">
                       <h2> Paper Template <i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="iteml5">
                            <ul>
                                <li><a href="./downloads/paper-template-jcs.pdf" target="_blank">Karpagam JCS</a></li>
                                <li><a href="./downloads/paper-template-ijam.pdf" target="_blank">Karpagam IJAM</a></li>
                                <li><a href="./downloads/paper-template-jcm.pdf" target="_blank">Karpagam JCM</a></li>
                            </ul>
                        </div>
                        </li>
                        <li>
                        <div class="accordion-item" >
                        <div class="accordion-title" data-tab="iteml6">
                       <h2> Review Board <i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="iteml6"> 
                               
                                <ul>
                                    <li><a href="review-board-jcs.php">Karpagam JCS</a></li>
                                    <li><a href="review-board-ijam.php">Karpagam IJAM</a></li>
                                    <li><a href="review-board-jcm.php">Karpagam JCM</a></li>
                                </ul>
                          </div> 
                        </li>
                        <li><a href="online-paper-submission.php">Online Paper Submission</a></li>
                        <li>
                        <div class="accordion-item" >
                        <div class="accordion-title" data-tab="iteml7">
                       <h2> Copyright<i class='bx bx-chevrons-right down-arrow'></i></h2>
                        </div>
                        <div class="accordion-content" id="iteml7"> 
                               
                                <ul>
                                    <li><a href="./downloads/copyright-jcs.pdf" target="blank">Karpagam JCS</a></li>
                                    <li><a href="./downloads/copyright-ijam.pdf" target="blank">Karpagam IJAM</a></li>
                                    <li><a href="./downloads/copyright-jcm.pdf" target="blank">Karpagam JCM</a></li>
                                </ul>
                          </div> 
                        </li>
                        <div class="accordion-item" >
                        <div class="accordion-title" data-tab="iteml8">
                        <h2>FAQ <i class='bx bx-chevrons-right down-arrow'></i></h2>
                        
                        </div>
                        <div class="accordion-content" id="iteml8"> 
                            <ul>
                                <li><a href="faq-karpagam-jcs.php">FAQ - Karpagam JCS</a></li>
                                <li><a href="faq-karpagam-ijam.php">FAQ - Karpagam IJAM</a></li>
                                <li><a href="faq-karpagam-jcm.php">FAQ - Karpagam JCM</a></li>
                            </ul>
                          </div>
                        </li>
                        <li><a href="terms-and-conditions.php">Terms & Conditions</a></li>
                        <li><a href="publication-fees.php">Online Payment</a></li>
                    </ul>
                    
                </div>
           
    </div>

    <div class="col-lg-8">
        <div class="section-title-archives">
        <h2>Current Issues - {{journal.title}}</h2>
        </div>
        <div class="author-card-issue">
            <div class="row">
                <div class="col-md-5">
                    <div class="author-card-info">
                         <h3>Title of the Paper</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Author(s)</h3>
                </div>
                <div class="col-md-3 text-end">
                    <h3>View Article</h3>
                </div>
            </div>
        </div>
        {% for latest_issue in latest_issues %}
        <div class="author-card-issue">
            <div class="row">
                <div class="col-md-5">
                    <div class="author-card-info">
                        <h3>{{ latest_issue.accepted_submission.corrected_title }}</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>{{ latest_issue.accepted_submission.submission.author.first_name }} {{ latest_issue.accepted_submission.submission.author.last_name }}</h3>
                </div>
                <div class="col-md-3 text-end">
                    <div class="theme-btn text-end">
                        <a href="{{ latest_issue.accepted_submission.typeset_file.url }}" onclick="window.open(this.href, '_blank', 'toolbar=0,scrollbars=1,resizable=1,width=800,height=600'); return false;">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
</div>
</section>
<!-- Author Section End -->   

{% endblock content %}